body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  text-transform: none;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  margin-bottom: 0px;

  background-color: #eeeeee;
 }

 .inner-header {
   padding-bottom: 80px;

   background-color: #eeeeee;
 }

.site-navigation {
 display: flex;
 flex-wrap: wrap;
 margin-left: 174px;
 margin-bottom: 4px;

 width: 600px;
 align-items: center;
 }

 .site-navigation,
 .user-navigation {
   padding-left: 0;
   list-style: none;
   text-transform: uppercase;
 }

.li a {
 list-style: none;
}

.user-navigation {
 display: flex;
 margin-left: 100px;
 margin-bottom: 2px;
 align-self: center;
 }

 .user-navigation .basket {
   position: relative;
   padding-left: 50px;
 }

.basket::before{
  content: "";

  position: absolute;
  top: 1px;
  left: 12px;

  width: 15px;
  height: 15px;

  background-image: url("img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
 }

.main-navigation {
  display: flex;
  padding-top: 49px;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
  }
.main-header-logo img{
  width: 160px;
}
  .main-header-logo {
   order: 0
   color: #000000;

   width: 160px;
   height: 65px;
   }

.main-header-logo:focus,
.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation a {
  display: block;
  padding: 7px 20px 0px 26px;
color: #000000;
}

.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation :active {
  color: #000000;
  opacity: 0.3;
}

.active-page {
position: relative;
}

.active-page::after {
  content: "";

  position: absolute;
  bottom: -4px;
  left: 27px;

  width: 74px;
  height: 2px;

  background-color:  #fb565a;
}

.slider {
  position: relative;
  margin-bottom: 80px;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slogan-item {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-information-text {
  max-width: 430px;
  margin: 0;
  margin-bottom: 39px;
}

.button {
  display: block;
  width: 240px;
  padding: 15px 0;

  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.type-feature {
  list-style: none;
}

.feature-item {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  text-align: left;
}

.feature-category {
  order: 1;
  margin-left: 0px;
  margin-top: 26px;
  margin-bottom: 15px;
  text-transform: uppercase;

  font-size: 24px;
  line-height: 30px;
}

.feature-item-image
{
  order: 0;
  width: 300px;
  height: 146px;
  margin: 0;
}

.service-item-price {
  order: 2;

  margin: 0;
}

.service-item-price b {
  display: block;
  width: 250px;
  margin-left: 0px;
  margin-bottom: 35px;

  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
}

.service-item-price a {
  margin-top: 35px;
}

.price-button {
  display: block;
    width: 160px;
    padding: 13px 0;

    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

    background-color: #fb565a;
    border-radius: 3px;
    border: none;
}

.price-button-red {
  background-color: #fb565a;
  border: none;
  }

.price-button-red:hover,
.price-button-red:focus {
  background-color: #e74246;
}

.price-button:active {
  color: rgba(255, 255, 255, 0.3);
}
.price-button-red:active {
  background-color: #d7373b;
  }

.price-button-green {
  background-color: #00ca74;
  border: none;
  }

.price-button-green:hover,
.price-button-green:focus {
  background-color: #00bc6c;
}

.price-button-green:active {
  background-color: #00aa62;
}

.price-button-yellow {
  background-color: #efc84a;
  border: none;
  }

.price-button-yellow:hover,
.price-button-yellow:focus {
  background-color: #eab534;
  }

.price-button-yellow:active {
  background-color: #e5a722;
  }

  .studio-info {
    display: flex;
    position: relative;
    margin-bottom: 74px;
  }

.studio-info::after {
  content: "";

  position: absolute;
  width: 1160px;
  height: 2px;
  left: 0px;
  bottom: -28px;

  background-color: #eeeeee;
}
  .studio-info-left {
    width: 700px;
  }

.studio-promo-left-text {
  display: block;
  width: 700px;
  margin-top: 35px;
  margin-bottom: 34px;

  font-size: 45px;
  line-height: 45px;
  }

.studio-principle-left-text {
  width: 650px;
  margin-top: 34px;
  margin-bottom: 36px;

  font-size: 16px;
  line-height: 24px;
  }

.services {
  display: flex;
  margin-top: 36px;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  }

.tipe-of-services li{
    padding: 11.5px 33px;
  }

.tipe-of-services {
  margin: 0;
padding: 0;

  font-size: 16px;
  line-height: 24px;
  list-style: none;
  }

  .studio-info-right {
margin-left: 100px;
  }

.studio-info-right-text {
  margin-top: 30px;
  padding-left: 14px;
  margin-bottom: 40px;

  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  }

.percent{
  width: 300px;
  margin-top: 40px;
  margin-bottom: 26px;
}
.studio-info-right-percent {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  list-style: none;
  padding: 0;
  margin: 0;
  }

.info-percent {
  display: table-cell;
    font-size: 45px;
    line-height: 40px;
    text-transform: uppercase;
    padding-right: 21px;

    font-weight: bold;
}
.info-percent:not(:nth-child(3n)){
  margin-right: 0px;
}

.info-percent-text {
  display: table-cell;
  width: 100px;
  font-size: 16px;
  line-height: 18px;
  padding: 25px 7px;
  list-style: none;
}

.logo-site-list {
  list-style: none;
  }

.logo-site-list a {
  opacity: 0.2;
  }

.logo-site-list a:hover,
.logo-site-list a:focus {
  opacity: 1;
  cursor: pointer;
}

.logo-site-list a:active {
  opacity: 0.1;
  cursor: pointer;
}

.main-title {
  margin: 0;
  padding-bottom: 107px;
  margin-bottom: 58px;
  background-color: #eeeeee;

  font-size: 54px;
  line-height: 54px;
  text-align: center;
}

.filter-item {
  margin: 0;
  padding: 0;
  margin-bottom: 58px;

  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 52px;
}

.filter-cost {
  margin-bottom: 60px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}


.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
  border: none;
}

.filter legend {
  text-transform: uppercase;
  font-weight: bold;

font-size: 16px;
line-height: 24px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
  line-height: 20px;
}

.filter-option {
  margin-bottom: 19px;
  margin-top: 19px;
  margin-left: 35px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -34px;
  top: -1;

  width: 23px;
  height: 23px;

  background-image: url("img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.6;
}

.filter-input-checkbox + label:focus:after,
.filter-input-checkbox + label:focus:after,
.filter-input-checkbox + label:hover:before,
.filter-input-checkbox + label:hover:before {
opacity: 1;
}

.filter-input-checkbox + label:active:after,
.filter-input-checkbox + label:active:before {
  opacity: 0.3;
}

.filter-input-checkbox:checked + label::before{
  display: none;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 0px;
  left: -33px;
  width: 27px;
  height: 23px;

  background-image: url("img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -35px;
  top: -2px;

  width: 25px;
  height: 25px;

  background-image: url("img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}
.filter-input-radio + label:focus:after,
.filter-input-radio + label:focus:before,
.filter-input-radio + label:hover:after,
.filter-input-radio + label:hover:before {
  opacity: 1;
}

.filter-input-radio + label:active:after,
.filter-input-radio + label:active:before{
  opacity: 0.3;
}

.filter-input-radio:checked + label::before {
  display: none;
}
.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: -2px;
  left: -35px;

  width: 25px;
  height: 25px;

  background-image: url("img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #283136;
}

.filter-input:disabled + label {
  color: rgba(40, 49, 54, 0.3)
}

.filter-button {
  display: block;
  font-size: 16px;
  line-height: 18px;
  width: 260px;
  padding-top: 18px;
  padding-bottom: 15px;

  color: #000000;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #eeeeee;
  border-radius: 3px;
  border: none;
  }

.filter-button:hover{
  background-color: #dfdfdf;
}

.filter-button:active{
  color: rgba(1, 1, 1, 0.1);
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 #d4d4d4;
}

.sorting-and-catalog {
  margin-left: 100px;
}
  .sorting{
    display: flex;
  }

.sort-header{
  margin: 0;
  padding-top: 0px;
  text-transform: uppercase;
}

  .sorting-type {
    display: flex;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    list-style: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    margin-left: 281px;
  }
.active-sort-price a{
  color: #000000;
  opacity: 1;
  margin-right: 26px;
}
  .sort-type a,
  .sort-name a{
      color: #000000;
      opacity: 0.3;
      margin-right: 26px;
  }
  .sorting-type a:focus,
  .sorting-type a:hover {
      color: #000000;
      opacity: 0.6;
  }

  .sorting-type a:active{
      color: #000000;
      opacity: 1;
  }

  .up-down {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    opacity: 0.3;
    list-style: none;
  }

.up:hover,
.up:focus {
  opacity: 0.6;
}

.up:active {
  opacity: 1;
}

.down:hover,
.down:focus {
  opacity: 0.6;
}

.down:active {
  opacity: 1;
}

.sort-down {
  padding-left: 22px;
}

.sort-up {
  padding-left: 18px;
}

  .up-down a{
    color: #000000;
  }
  .catalog-item {
    position: relative;
  }
.catalog-item-block a {
  color: #000000;
  text-decoration: none;
}

.browser{
  position: absolute;
  top: -40px;
  opacity: 0.12;
}

.catalog-item:hover .browser{
  opacity: 1;
}

.hover-info{
  display: none;
  width: 360px;
  height: 230px;
  text-align: center;
  background-color: #eeeeee;
  position: absolute;
  top: 345px;
}

.catalog-item:hover .hover-info{
  display: block;
}

.name-product{
  margin-top: 28px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  }

.info-product{
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  padding: 0px 80px;
  margin-bottom: 32px;
  color: #666666;
}

.price-product {
  display: block;
    width: 200px;
    padding: 13px 40px;
    margin-left: 80px;

    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

    background-color: #fb565a;
    border-radius: 3px;
    border: none;
}

.price-product:hover,
.price-product:focus {
  background-color: #e74246;
}

.price-product:active {
  background-color: #d7373b;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: #000000;
  background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(1, 1, 1, 0.1);
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 #d4d4d4;
}
.main-footer {
  color: #000000;

  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: repeat;
  }

.address-map {
  color: #000000;
  }

.contacts {
  color: #000000;
  width: 320px;
  height: 308px;

  background-color: #ffffff;
  }

.contacts  h3 {
  margin-top: 54px;
  margin-bottom: 32px;
  margin-left: 50px;
  margin-right: 77px;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  }

.contacts  address {
  margin-top: 32px;
  margin-left: 51px;
  margin-right: 68px;

  font-size: 16px;
  line-height: 18px;
  color: #666666;
  font-style: normal;
  }

.phone {
  margin-top: 18px;
}
  .connection-button {
    display: block;
    margin-top: 37px;
    margin-left: 50px;
    margin-right: 50px;
    width: 219px;
    padding: 13px 0;

    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

    background-color: #fb565a;
    border-radius: 3px;
    border: none;
  }

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #000000;
}

.footer-social b {
  display: flex;
  margin-bottom: 12px;
  font-size: 36px;
  line-height: 36px;
}

.footer-social p {
  margin-top: 8px;
  font-size: 16px;
  line-height: 22px;
  }

.modal {
  color: #000000;
  background-color: #ffffff;
  font-weight: bold;
}

.modal h2 {
  font-size: 45px;
  line-height: 45px;
}

.appointment-item textarea{
display: block;
color: #444444;
opacity: 0.5;
font-size: 16px;
line-height: 18px;
outline: none;

background-color: #ffffff;
border-color: #d7dcde;
border: 2px solid #d7dcde;
}

.appointment-item input[type="text"]{
  color: #444444;
  opacity: 0.5;
  font-size: 16px;
  line-height: 18px;
  outline: none;

  background-color: #ffffff;
  border-color: #d7dcde;
  border: 2px solid #d7dcde;
}

.appointment-item textarea:focus,
.appointment-item input[type="text"]:focus {
  color: #444444;
  opacity: 1;
  border-color: #000000;
}

.appointment-item textarea:hover,
.appointment-item input[type="text"]:hover {
  color: #444444;
  opacity: 0.5;
  border-color: #b4b9bb;
  }

.appointment-item textarea:invalid,
  .appointment-item input[type="text"]:invalid {
    color: #e74246;
    border-color: #e74246;
  }


  /* ----- Сеточные стили ----- */


 html,
 body {
  min-width: 1200px;
  min-height: 1750px;
  }

 .container {
   width: 1160px;
   margin: 0 auto;
   padding: 0 20px;
  }

 .features {
   position: relative;
   margin-bottom: 124px;
  }

.features::after{
  content: "";

  position: absolute;
  bottom: -85px;
  left: 20px;

  width: 1160px;
  height: 2px;

  background-color: #eeeeee;
}

.type-feature {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.feature-item {
  width: 300px;
}

.site-list {
  margin-bottom: 80px;
  position: relative;
}

.site-list::after {
  content: "";

  position: absolute;
  width: 1160px;
  height: 2px;
  left: 20px;
  bottom: -40px;

  background-color: #eeeeee;
}

.logo-site-list {
  display: flex;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  vertical-align: middle;

  list-style: none;
}

.logo-academy {
position: relative;
padding: 14px 31px;
width:  199px;
height: 68px;
}

.logo-academy::after {
content: "";
position: absolute;
width: 2px;
height: 52px;
left: 278px;
bottom: 27px;
background-color: #eeeeee;
}

.logo-barbershop {
  position: relative;
  padding: 0px 65px;
  width: 209px;
  height: 90px;
}
.logo-barbershop::after {
content: "";
position: absolute;
width: 2px;
height: 52px;
left: 317px;
bottom: 22px;
background-color: #eeeeee;
}

.logo-pink {
  position: relative;
  padding: 19px 38px;
  width: 185px;
  height: 52px;
}

.logo-pink::after{
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  left: 278px;
  bottom: 22px;
  background-color: #eeeeee;
}

.logo-mishka {
  padding-top: 5px;
  padding-left: 83px;
  width: 173px;
  height: 85px;
}

.footer-social {
  display: flex;
  padding-top: 9px;
}

.footer-social-left {
  margin-top: 60px;
  width: 300px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color:  #e1e1e1;;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active,
.social-button:active {
  background-color: #d7373b;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.footer-social-left ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;
  margin: 0;
  padding: 0;
}

.footer-social-right {
  margin-top: 65px;
  margin-left: 99px;
  width: 560px;
}

.catalog-colums {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 260px;
}

.catalog {
  margin-top: 90px;
  width: 760px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  width: 360px;
  margin-bottom: 66px;
  margin-right: 40px;
}

.catalog-list li:nth-child(2n+2) {
  margin-right: 0;
}

.catalog-item:nth-child(2n+1) {
  margin-bottom: 55px;
}

.catalog-item:nth-last-child(3n+1){
  margin-bottom: 0px;
}


.pagination-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  list-style: none;
  margin-bottom: 0px;
}

.pagination-item a {
  display: block;
  padding: 12px 20px;
  border-radius: 3px;
  border: none;
  color: #000000;

  background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active{
    background-color: #d5d5d5
    color: rgba(0, 0, 0, 0.3)
}

.pagination-item-current a {
color: #000000;
padding: 11px 19px;
background-color: #ffffff;
 border: 2px solid #dbdbdb;
}

.pagination-item {
  text-transform: uppercase;
  margin-right: 10px;
}

.next a:last-child{
  margin-right: 0;
  padding: 12.5px 79px;
  border-radius: 3px;
  border: none;
}



.inner-page .main-footer {
  margin-top: 60px;
}

.main-footer {
   margin-top: 119px;
   padding: 0px 0;
}

.main-footer .container {
  display: flex;
}

.contacts {
  position: absolute;
  width: 320px;
  top: 55px;
}

.marker {
  position: absolute;
  width: 231px;
  height: 190px;
  top: 90px;
  left: 700px;
}


.address-map {
  background-color: #ffffff;
  background-image: url("img/2.jpg");
 background-position: top center;
 background-repeat: no-repeat;

  position: relative;

  }

  /* Всплывающая форма */
  @keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

   .modal {
     position: fixed;
     color: #000000;

     background-color: #ffffff;
     box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
   }

   .modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

   .modal-connection {
     top: 10px;
     left: 50%;

     width: 960px;
     margin-left: -450px;
   }

   .modal-close {
   position: absolute;
   top: 80px;
   right: 90px;

   width: 21px;
   height: 21px;

   font-size: 0;
   opacity: 0.3;

   background-image: url("img/close-cross.svg");
   background-repeat: no-repeat;
   background-position: 0 0;
   border: none;
   cursor: pointer;
 }

.modal-close:focus,
.modal-close:hover{
  opacity: 1;
}

.modal-close:active{
  opacity: 0.1;
}
 .modal-connection h2 {
   margin-left: 98px;
   margin-top: 68px;

   font-size: 45px;
   line-height: 45px;
 }

.connection-form {
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  margin-left: 100px;
  justify-content: space-between;
}

 .appointment-item{
   margin: 0;
   margin-bottom: 32px;
 }

.appointment-item label{
  display: block;
  margin-bottom: 7px;
}

  .appointment-item input {
  box-sizing: border-box;
  width: 360px;
  padding-top: 13px;
  padding-left: 13px;
  padding-bottom: 13px;
  }

.appointment-item textarea {
  display: block;
  width: 740px;
  padding-top: 10px;
  padding-left: 14px;
  padding-bottom: 87px;
}
  .modal-connection .button {
    display: block;
    width: 100%;
    margin-top: 14px;
    margin-right: 500px;
    margin-bottom: 84px;
  }
*/
